@page "/"

@using Microsoft.AspNetCore.Components.Web.Virtualization

<style>
    .parent { display: flex; flex-direction: column; width: 200px; height: 200px; overflow-y: scroll; }
    .item { display: flex; align-items: center; justify-content: center; flex-shrink: 0; width: calc(100% - 2px); height: 50px; background: #eee; border: 1px solid white; }
    .item:focus { outline: 2px dashed red; outline-offset: -4px; }
</style>

<div class="item" tabindex="0">BEFORE</div>
<div class="parent" tabindex="-1">
    <Virtualize Items="Items" Context="item" ItemSize="50">
        <div class="item" tabindex="0">@item</div>
    </Virtualize>
</div>
<div class="item" tabindex="0">AFTER</div>

@code {
    public List<int> Items = Enumerable.Range(1, 100).ToList();
}
